*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
*.tgz
.build
www
node_modules
_site
sea-modules
spm_modules
.cache
coverage
_dist
_package
.eslintrc.js
npm-debug.log.*
npm-debug.log
dist
app
www_kylin
src/layout

yarn-error.log

# lib is build products, should ignored by git repo
lib
